{% extends "site/model_create.html" %}
{# material_form brings in 'form' tag. #}
{% load i18n static material_form material_form_internal common_ui %}

{% block breadcrumbs_items %}
  <a href="/teams">Teams</a>

  {% if team and team.slug %}
     <a href="/teams/{{team.slug}}">{{ team }}</a>
  {% endif %}

{% endblock %}

{% block form %}
  {{ block.super }}
{% endblock form %}

{% block submit_row %}
     <button type="submit" class="waves-effect waves-light btn white-text">{% trans 'Join' %}</button>
{% endblock %}
