{% extends "accounts/account_base.html" %}
{% load i18n static %}

{% block card_content %}
<div class="card-title">Password Reset</div>
<div class="col s4">
  <p style="font-size:1.1em; margin: 0.67em 0;padding: 0 20px;">
    {% trans 'We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.' %}
  </p>

  <p style="font-size:1.1em; margin: 0.67em 0;padding: 0 20px;">
    {% trans 'If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.' %}
  </p>
</div>
{% endblock card_content %}
