{% extends 'site/base.html' %}
{% load i18n static material_form material_form_internal common_ui %}

{% block breadcrumbs_items %}
{% endblock %}

{% block content %}
{% block left-panel %}
<div class="left-panel">
    <div class="card">
        <dmc-form>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-content">
                  <div class="card-title">
		    {% if object.pk %}
		      {{ view.model|verbose_name|title }}: {{ object }}
		    {% else %}
  		      {% trans 'Add' %} {{ view.model|verbose_name|title }}
		    {% endif %}
		  </div>

                  {% block form %}

                      {% if view.layout or form.layout%}
                        {% if view.layout %}
                          {% form layout=view.layout %}{% endform %}
                        {% endif %}

                        {% if form.layout %}
                          {% form layout=form.layout %}{% endform %}
                        {% endif %}

                      {% else %}
                        {% form %} {% endform %}

                        {% for name, formset in formsets.items %}
                          <table>
                            {{ formset.as_table }}
                         </table>
                        {% endfor %}
                      {% endif %}
                  {% endblock form %}

	          {% block non_form_additions %}
	          {% endblock non_form_additions %}

                </div>
                <div class="card-action">
                    <div class="right-align">
                        {% block submit_row %}
                          <button type="submit" class="waves-effect waves-light btn white-text">{% trans 'Save' %}</button>
                        {% endblock %}

                        {% block actions_row %}
                          {% if delete_url %}<a class="waves-effect waves-light btn red white-text" href="{{ delete_url }}">{% trans 'Delete...' %}</a>{% endif %}
                          {% if update_url %}<a class="waves-effect waves-light btn white-text" href="{{ update_url }}">{% trans 'Update...' %}</a>{% endif %}
                        {% endblock actions_row %}
                    </div>
                </div>
            </form>
        </dmc-form>
    </div>
</div>
{% endblock left-panel %}
{% block right-panel %}{% endblock right-panel %}
{% endblock %}
